<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>声音开启</title>
    <script src="/layui-v2.4.5/layui/layui.js"></script>
    <link rel="stylesheet" href="/layui-v2.4.5/layui/css/layui.css"
          media="all">
</head>
<body>

<div class="layui-carousel" id="test1">
    <div carousel-item>
        <div th:each="listItem,listStat : ${session.ImagesPath}">
            <img th:src="${listItem}">
        </div>
    </div>
</div>
<audio th:src="${session.path}"></audio>
<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , arrow: 'always' //始终显示箭头
            , height: '600px'
            //,anim: 'updown' //切换动画方式
        });
    });
</script>
</body>
</html>