<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace是命名空间，是mapper接口的全路径-->
<mapper namespace="com.timecapsule.mapper.UserMapper">

    <!--resultMap – 是最复杂也是最强大的元素，用来描述如何从数据库结果集中来加载对象-->
    <!--<resultMap id="userResultMap" type="com.hello.springboot.entity.User">-->
    <!--<id property="name" column="username"></id>-->
    <!--</resultMap>-->

    <insert id="insertUser" parameterType="User">
        insert into user(userName,email,password,registerTime) values(#{userName},#{email},#{password},#{registerTime})
    </insert>
    <select id="findUserByEmailAndPassword" resultType="User">
        select userId,email,password,userName from USER where email = #{email} and password = #{password}
    </select>

    <select id="findUserByEmail" resultType="User">
        select userId,email,password,userName from USER where email = #{email}
    </select>

    <select id="selectAllUser" resultType="User">
        select userId,email,userName,password,registerTime,accountStatus from user where accountStatus = 1
        <if test="email != null and email != ''">
            and email = #{email}
        </if>
        <if test="start != null and start != ''">
            and  #{start} &lt;= registerTime
        </if>
        <if test="end != null and end != ''">
            and registerTime &lt;= #{end}
        </if>
    </select>

    <select id="selectAllUserCount" resultType="int">
        select count(*) from user where accountStatus = 1
        <if test="email != null and email != ''">
            and email = #{email}
        </if>
        <if test="start != null and start != ''">
            and  #{start} &lt;= registerTime
        </if>
        <if test="end != null and end != ''">
            and registerTime &lt;= #{end}
        </if>
    </select>

    <update id="delUserByUserId">
       update user set accountStatus = 0 where userId = #{userId}
    </update>
</mapper>