<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>时间胶囊</title>
		<script src="js/vue.js"></script>
		<link href="/bootstrap-3.3.7/css/bootstrap.css">
		<script src="/bootstrap-3.3.7/js/bootstrap.js"></script>
	</head>
	<body>
		<div id="app" class="container">
			<div class="row" style="text-align: center; margin-top:6.125rem;">
				<img src="/img/logo_big.png">
			</div>
			<div class="row" style="text-align: center;">
				<h2 style="font-weight:350; font-size: 1.5rem; color: #222222;">时间胶囊</h2>
			</div>
			<div class="row" style="text-align: center;">
				<h1><a href="/put" style="text-decoration: none;color: #222222;">Put</a></h1>
				<h1><a href="/open" style="text-decoration: none;color: #222222;">open</a></h1>
			</div>
			<div class="row" style="text-align: center;">
				<a href="/explain" style="text-decoration: none;color: #5E5E5E; font-size: 0.625rem;">什么是时间胶囊？</a>
			</div>
		</div>
	</body>
</html>