<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>视频胶囊</title>
    <link href="/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/bootstrap-3.3.7/js/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="/img/胶囊%20(2).png" style="margin-top: -0.975rem;display: inline-block;">
                        <font style="">时光胶囊</font>
                    </a>
                </div>
            </div>
            <div class="col-md-3" style="margin-top: 1.75rem; text-align: right;">
                <span style="color: #5E5E5E;font-size: 1.55rem;cursor: pointer" id="name"
                      th:text="${session.user.userName}"></span>
                &nbsp;&nbsp;&nbsp;
                <span style="color: #5E5E5E;font-size: 1.55rem;cursor: pointer" id="exit">退出</span>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5" style="padding-left: 3.875rem;">
            <div class="row">
                <h2 style="color:#555555;">添加胶囊</h2>
            </div>
            <form enctype="multipart/form-data" id="soundForm">
                <div class="row">
                    <div class="form-group">
                        <label for="exampleInputName">你的名字：</label>
                        <input type="text" class="form-control" name="name" id="exampleInputName" placeholder="name">
                        <font id="error1" color="red"></font>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNameCapsule">胶囊名：</label>
                        <input type="text" class="form-control" name="capsuleName" id="exampleInputNameCapsule" placeholder="capsuleName">
                        <font id="error2" color="red"></font>
                    </div>
                    <div class="form-group">
                        <label id="email" for="exampleInputEmail1">接收邮箱：</label>
                        <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Email">
                        <font id="error3" color="red"></font>
                    </div>
                    <div class="form-group">
                        <label for="date">打开时间:</label>
                        <input type="date" class="form-control" name="openTime" id="date">
                        <font id="error4" color="red"></font>
                    </div>
                    <div class="form-group">
                        <label for="uploadMovie">选择视频：</label>
                        <input type="file" id="uploadMovie" name="file" class="form-control">
                        <font id="error5" color="red"></font>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <input type="button" value="清空内容" class="btn btn-danger" id="cleanMovie">
                        </div>
                        <div class="col-md-6" style="text-align:right">
                            <input type="button" value="添加胶囊" class="btn btn-primary" id="submitMovie">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="row" style="margin-top: 30px">
                    <h3>注意事项：</h3>
                    <h5>1.只能上传低于500M的视频，超过500M的视频无法上传。</h5>
                    <h5>2.上传mp4,ogg,webm时能够正常显示预览。三种之外的视频格式可以
                        <br><br>&nbsp;&nbsp;&nbsp;正常上传与未来正常打开，但是无法预览。</h5>
            </div>
            <div class="row" style="padding-top: 20px">
                <div id="movie">
                    <div class="flowplayer" data-swf="flowplayer.swf" data-ratio="0.4167">
                        <video>
                            <source type="video/mp4" src="录像31.avi">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/moviePut.js"></script>
<script src="/static/flowplayer20160415/flowplayer.min.js"></script>
</html>
