<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>富文本胶囊</title>
    <link href="/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/bootstrap-3.3.7/js/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/js/tool.js"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/toIndex">
                        <img src="/img/胶囊%20(2).png" style="margin-top: -0.975rem;display: inline-block;">
                        <font style="">时光胶囊</font>
                    </a>
                </div>
            </div>
            <div class="col-md-3" style="margin-top: 1.75rem; text-align: right;">
                <span style="color: #5E5E5E;font-size: 1.55rem;cursor: pointer" id="name"
                      th:text="${session.user.userName}"></span>
                &nbsp;&nbsp;&nbsp;
                <span style="color: #5E5E5E;font-size: 1.55rem;cursor: pointer" id="exit" onclick="loginOut()">退出</span>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</nav>
<div class="container-fluid" id="loginPage">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="padding-left: 3.875rem;">
            <div class="row">
                <h2 style="color:#555555;">添加胶囊</h2>
            </div>
            <form enctype="multipart/form-data" id="textForm">
            <div class="row">
                <div class="form-group">
                    <label for="exampleInputName">你的名字：</label>
                    <input type="text" class="form-control" id="exampleInputName" placeholder="name" name="name">
                    <font id="error1" color="red"></font>
                </div>
                <div class="form-group">
                    <label for="exampleInputNameCapsule">胶囊名：</label>
                    <input type="text" class="form-control" id="exampleInputNameCapsule" placeholder="capsuleName" name="capsuleName">
                    <font id="error2" color="red"></font>
                </div>
                <div class="form-group">
                    <label id="email" for="exampleInputEmail1">接收邮箱：</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
                    <font id="error3" color="red"></font>
                </div>
                <div class="form-group">
                    <label for="date">打开时间</label>
                    <input type="date" class="form-control" id="date" name="openTime">
                    <font id="error4" color="red"></font>
                </div>
                <!--<div class="row">-->
                    <textarea name="description" id="description"/></textarea>
                <!--</div>-->
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-6">
                        <input type="button" value="清空内容" class="btn btn-danger" id="clean" onclick="clean()">
                    </div>
                    <div class="col-md-6" style="text-align:right;">
                        <input type="button" value="添加胶囊" class="btn btn-primary" id="testSubmitButton">
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<script>

    window.onload = function()
    {
        CKEDITOR.replace( 'description');
    };

    $("#clean").click(function () {
        $("#exampleInputName").val("");
        $("#exampleInputNameCapsule").val("");
        $("#exampleInputEmail1").val("");
        $("#date").val("");
    })
    $("#testSubmitButton").click(function () {
        var name = $("#exampleInputName").val();
        var capsuleName = $("#exampleInputNameCapsule").val();
        var email = $("#exampleInputEmail1").val();
        var date = $("#date").val();
        var description=CKEDITOR.instances.description.getData();
        if (name == "") {
            $("#error1").text("请输入名字");
        } else {
            $("#error1").text("");
        }
        if (capsuleName == "") {
            $("#error2").text("请输入胶囊名");
        } else {
            $("#error2").text("");
        }
        if (email == "") {
            $("#error3").text("请输入接收的邮箱");
        } else {
            $("#error3").text("");
        }
        if (date == "") {
            $("#error4").text("请输入日期");
        } else {
            $("#error4").text("");
        }
        if(name != "" && capsuleName != "" && email != "" && date != ""){
            var formData = new FormData($("#textForm")[0]);//此处id为form表单的id
            console.log(formData);
            $.ajax({
                url:'textCapsulePut',
                type: 'post',
                dataType: 'json',
                data: {
                    description:description,
                    name:name,
                    email:email,
                    capsuleName:capsuleName,
                    openTime:date
                },
                async: false,
                cache: false,
                success: function (result) {
                    if (result.status == 1) {
                        window.alert("上传成功！");
                    } else {
                        window.alert("上传失败，请联系管理员")
                    }
                },
                fail: function () {
                    window.alert("上传失败，请联系管理员");
                }
            })
        }

    })
</script>
</body>
</html>