<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/bootstrap-3.3.7/js/jquery-3.3.1.min.js"></script>
    <script src="/js/tool.js"></script>
    <script src="/js/new/loginN.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="/css/theme.css" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>登录</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                data-target="#navbar6">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar6"><a class="navbar-brand text-primary d-none d-md-block"
                                                              href="#">
            <i class="fa d-inline fa-lg fa-circle"></i>
            <b>时光胶囊</b>
        </a>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="#">胶囊</a></li>
                <!--<li class="nav-item"> <a class="nav-link" href="#">Pricing</a> </li>-->
                <!--<li class="nav-item"> <a class="nav-link" href="#">About</a> </li>-->
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/toLoginN">登录</a></li>
                <li class="nav-item"><a class="nav-link text-primary" href="/toRegister">注册</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="py-5"
     style="background-image: url('https://static.pingendo.com/cover-stripes.svg'); background-position:left center; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="p-5 col-lg-6">
                <h1>I am so happy, my dear</h1>
                <p class="mb-3">Welcome to bury your time capsule.</p>
                <form>
                    <div class="form-group"><input type="email" class="form-control" placeholder="Enter email"
                                                   id="exampleInputEmail1"></div>
                    <h5 class="" id="error"></h5>
                    <div class="form-group"><input type="password" class="form-control" placeholder="Password"
                                                   id="exampleInputPassword1">
                        <h5 class="" id="error2"></h5>
                        <small class="form-text text-muted text-right">
                            <a href="#"> 忘记密码?</a>
                        </small>
                    </div>
                    <button type="button" class="btn btn-primary" id="loginButton">登录</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-6 p-3"><i class="d-block fa fa-circle-o fa-5x text-primary"></i></div>
            <div class="col-lg-4 col-6 p-3">
                <p><a href="https://goo.gl/maps/AUq7b9W7yYJ2" target="_blank"> 浙江省，台州市，仙居县</a>
                </p>
                <p><a href="tel:+246 - 542 550 5462">+18996093486</a></p>
                <p class="mb-0"><a href="mailto:info@pingendo.com">914423648@qq.com.com</a></p>
            </div>
            <div class="col-md-4 p-3">
                <h5><b>关于</b></h5>
                <p class="mb-0"> I am alone, and feel the charm of existence in this spot, which was created for the
                    bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere
                    tranquil existence.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0 mt-2">© 2019- fly. 重庆师范大学</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>